@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&family=Patrick+Hand+SC&family=REM:ital,wght@0,100..900;1,100..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font:
    14px 'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
}

b,
.b {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 110%;
}
